@media (max-width: 1199.98px){
    .catalog_items_list{ 
        gap: 30px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        
    }
    .about_content{
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
    }
}
@media (max-width:991.98px){
    .contact_info{
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .catalog_items_list{ 
        flex-wrap: wrap;
        gap: 30px;
        align-items: center;
    }
    .about_content{
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
    }
}
@media (max-width:767.98px){
    .header_nav .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
/*     .header_logo{
        margin-right: -80px;
    } */
    .header_links{
        display: flex;
        justify-content: center;
        align-items: center;

    }
}
@media (max-width:750.98px){
    .header_nav .container{
        display: flex;
        flex-wrap: wrap;
    }

    .header_links{
        display: flex;
        justify-content: center;
        align-items: center;

    }
}
@media (max-width:629.98px){
    .catalog_items_list{ 
        gap: 30px;
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }
}